<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">

{%- include head.html -%}
<body>

    {%- include header.html -%}
    <meta property="og:image" content="https://jwoo-o.github.io/images/profile.jpg">
    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {%- include about.html -%}
            
            {%- if site.data.experience.size > 0 -%}
                {%- include experience.html -%}
            {%- endif -%}

            {%- if site.data.projects.size > 0 -%}
                {%- include projects.html -%}
            {%- endif -%}

            {%- if site.data.skill.size > 0 -%}
                {%- include skill.html -%}
            {%- endif -%}

            {%- if site.data.opensource.size > 0 -%}
                {%- include opensource.html -%}
            {%- endif -%}

            {%- if site.data.education.size > 0 -%}
                {%- include education.html -%}
            {%- endif -%}


        </div>
    </main>
</body>

</html>
